<section id="six">
		<div class="block">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="faqsec">
							<h3>Frequently Asked Question</h3>
							<div id="toggle-widget" class="experties">
								<h2 class="wow fadeInUp" data-wow-delay="0s">What is DSC?</h2>
								<div class="content">
									<p>DSC is a versatile Club organized by Google Developers. As the name sound Developer Student Club, 
                                        it help in overall development of students. This technical club encourages the students and help them to develop 
                                        their skills in every aspect.
                                        This clubs brings out the extraordinary talent among the students involved in DSC. 
                                    </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.4s">What are the Benefits of Google DSC?</h2>
								<div class="content">
									<p>
                                            One of the biggest asset of Google DSC is that it provides a platform for the inquisitive Learners, Inventors and 
                                            Developers to make use of  Google resources for the fulfillment of their needs. 
                                            Not only this it brings people from different background  to create Personal as well as Professional Network.
                                    </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.6s">What are the Criteria for being a part of DSC?</h2>
								<div class="content">
									<p>1) An undergraduate or graduate students who are inquisitive learners.<br/>
                                       2) Student must have prior information regarding technology.<br/>
                                       3) Student must be knowing about some technical information about trending technology.<br/>
                                       4) Keen to solve local problems occurring across us.<br/>
                                    </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.8s">How can I register in DSC ?</h2>
								<div class="content">
									<p>To register in DSC you should first meet all the eligible criteria to be a part of Google DSC.
                                       After that consult your DSC Lead for the involvement in the club.</p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.10s">Who is DSC Lead ?</h2>
								<div class="content">
									<p>
                                            DSC is a global community. Everyone wants to reach and connect with other members across the globe. 
                                            So lead is the person who introduces the club to you with some extra powers. 
                                            The main aim of the lead is to setup a Club and organize Workshops, Seminars and Interactive Technical Sessions.
                                    </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>