<% include header-team.ejs %>
<section>
		<div class="block">
			<div data-velocity="-.2" style="background: url(images/resource/p2.jpg) repeat scroll 50% 500.28px transparent;" class="parallax  scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="t white">Team</h3>
					</div>
					<div class="col-lg-12">
						<div class="teamsec">
							<div class="row">
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0s">
                                            <img src="images/resource/anujkumar.jpg" alt="" />
                                            <h3>Dr. Anuj Kumar Gupta</h3>
                                            <span>Faculty Mentor</span>
									</div><!-- Team -->
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0.2s">
                                            <img src="https://instagram.fixc1-2.fna.fbcdn.net/vp/f5055cec53c5b53a7342f02d5d4b143c/5E00F662/t51.2885-15/sh0.08/e35/s640x640/38081452_2161246134098253_7299506226193235968_n.jpg?_nc_ht=instagram.fixc1-2.fna.fbcdn.net&amp;_nc_cat=109%20640w" alt="" />
                                            <h3>Manpreet Singh Bajwa</h3>
                                            <span>Faculty Coordinator</span>
									</div><!-- Team -->
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0.2s">
                                            <img src="images/resource/nand.jpg"" alt="" />
                                            <h3>Nand Kishore</h3>
                                            <span>DSC Lead</span>
									</div><!-- Team -->
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0.2s">
                                            <img src="https://instagram.fixc1-2.fna.fbcdn.net/vp/5ce9f1e8934a49cb5886ec8bfd9424a6/5E395FD7/t51.2885-15/sh0.08/e35/s640x640/65491742_871704919858675_9149721269735989974_n.jpg?_nc_ht=instagram.fixc1-2.fna.fbcdn.net&amp;_nc_cat=107 640w" alt="" />
                                            <h3>Kartik Aggarwal</h3>
                                            <span>Event Manager</span>
									</div><!-- Team -->
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0.2s">
                                            <img src="https://scontent.fixc1-2.fna.fbcdn.net/v/t1.0-1/p240x240/24131120_1387306901379838_4438178736118838483_n.jpg?_nc_cat=101&_nc_oc=AQnV-duodO5lz1rnqyLMGm_4ps7aVCkBd9tYXpk-pIfgpyR9U2LXBh-T6R7IDBsosec&_nc_ht=scontent.fixc1-2.fna&oh=be246bbeee8761783dc0e312b5048241&oe=5DF6DF05" alt="" />
                                            <h3>Mohit Gupta</h3>
                                            <span>Web Developer</span>
									</div><!-- Team -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="team wow fadeIn" data-wow-delay="0.2">
                                            <img src="images/resource/parshant.jpg" alt="" />
                                            <h3> Parshant Sharma </h3>
                                            <span>AI/ML Developer</span>
                                        </div><!-- Team -->
                                    </div>
								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0.2">
										<img src="images/resource/anjali.jpg" alt="" />
										<h3>Anjali Garg</h3>
										<span>Technical Writing/Documentation</span>
									</div><!-- Team -->
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="team wow fadeIn" data-wow-delay="0.2">
                                            <img src="images/resource/debelina.jpg" alt="" />
                                            <h3> Debalina De</h3>
                                            <span>Anchor</span>
                                        </div><!-- Team -->
                                    </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
									<div class="team wow fadeIn" data-wow-delay="0.2">
										<img src="images/resource/chetan.jpg" alt="" />
										<h3>Chetan</h3>
										<span>Android Developer</span>
									</div><!-- Team -->
								</div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="team wow fadeIn" data-wow-delay="0.2">
                                                <img src="images/resource/nisha.png" alt="" />
                                                <h3> Nisha</h3>
                                                <span>Management</span>
                                            </div><!-- Team -->
                                        </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="team wow fadeIn" data-wow-delay="0.2">
                                                <img src="images/resource/gaurav.jpg" alt="" />
                                                <h3> Gaurav Bharti </h3>
                                                <span>Photographer</span>
                                            </div><!-- Team -->
                                        </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                    <div class="team wow fadeIn" data-wow-delay="0.2">
                                                        <img src="images/resource/prince.jpg" alt="" />
                                                        <h3> Prince</h3>
                                                        <span>Creative & Digital Media
                                                            </span>
                                                    </div><!-- Team -->
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6">
                                                        <div class="team wow fadeIn" data-wow-delay="0.2">
                                                            <img src="images/resource/ravi.jpg" alt="" />
                                                            <h3> Ravi</h3>
                                                            <span>Photographer</span>
                                                        </div><!-- Team -->
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                                            <div class="team wow fadeIn" data-wow-delay="0.2">
                                                                <img src="images/resource/shivangi.jpg" alt="" />
                                                                <h3> Shivangi</h3>
                                                                <span>Cloud Computing
                                                                    </span>
                                                            </div><!-- Team -->
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                                                <div class="team wow fadeIn" data-wow-delay="0.2">
                                                                    <img src="images/resource/shubham.jpg" alt="" />
                                                                    <h3> Shubham</h3>
                                                                    <span>Flutter</span>
                                                                </div><!-- Team -->
                                                            </div>
                                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                                    <div class="team wow fadeIn" data-wow-delay="0.2">
                                                                        <img src="images/resource/sunidhi.jpg" alt="" />
                                                                        <h3> Sunidhi</h3>
                                                                        <span>Public Relations</span>
                                                                    </div><!-- Team -->
                                                                </div>
                                                                <div class="col-lg-3 col-md-4 col-sm-6">
                                                                        <div class="team wow fadeIn" data-wow-delay="0.2">
                                                                            <img src="images/resource/pratham.jpg" alt="" />
                                                                            <h3> Pratham Arora</h3>
                                                                            <span>Sponsorship</span>
                                                                        </div><!-- Team -->
                                                                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% include footer.ejs %>