<!DOCTYPE html>
<html>

<!-- Mirrored from grandetest.com/theme/ico-html/index5.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Sep 2019 15:50:42 GMT -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Developer Students' Club | DSCCGC</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.">
	<meta name="keywords" content="">
	<meta name="author" content="Mohit Gupta">
	<meta property='og:title' content="Developer Students' Club | DSCCGC">
	<meta property='meta-title' content="Developer Students' Club | DSCCGC">
	<meta name="language" content="English">
	<meta property="og:site_name" content="DSCCGC">
	<meta name="application-name" content="DSCCGC">
	<meta name="robots" content="index, follow">
	<meta property="og:image" content="images/resource/mockup1.png">
	<meta property="og:image:secure_url" content="images/resource/mockup1.png" />
	<meta property="og:image:width" content="290" />
	<meta property="og:image:height" content="290" />
	<meta name="keywords" content="dsc,dsccgc,dsc cgc,landran,cgc landran,developer students club">
	<link rel="icon" href="images/resource/mockup1.png" type="image/gif">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/fontimp.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<meta name="google-site-verification" content="3O3etfXi3VLQ3tkudoXPZqNEJvaLie55lEuW5iNVlro" />

</head>
<body class="lines" id="scrollup">
<img src="images/p3.png" class="vx" alt="" data-enllax-ratio="-0.1" data-enllax-type="foreground" />
<div class="page-loading">
	<img src="images/resource/logo.png" alt="DSCCGC" />
</div>
<script type="application/ld+json">
	{ 	"@context": "http://www.schema.org",
		"@type": "WebSite",
		 "name": "DSCCGC",
	  	"alternateName": "Developer Students' Club | CGC",
		"url": "https://www.dsccgc.in/",
		"thumbnailUrl":"https://www.dsccgc.in/images/resource/logo.png",
		"description":"Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses."
	}
</script>
<script type="application/ld+json">
	{ "@context" : "http://schema.org",
	"@type" : "Organization",
	"description": "Google collaborates with university students who are passionate about growing developer
	communities and support them with starting student clubs on their campuses",
	  "address" :
	  { "@type": "PostalAddress",
	  "addressLocality": "Landran",
	   "addressRegion": "Mohali",
	   "postalCode": "140307",
	   "streetAddress": "Kharar Banur Hwy, Sector 112, Sahibzada Ajit Singh Nagar, Punjab 140307"
	},
	 "name":"Developer Students' Club | CGC",
	 "url":"https://www.dsccgc.in/",
	 "logo": "https://www.dsccgc.in/images/resource/logo.png",
	 "email":"dsc.cgc.coe@gmail.com",
	 "telephone":"+91-7340995003",
	 "sameAs": [
	 "https://www.facebook.com/dsccgc",
	 "https://www.instagram.com/dsccgc/",
	 "https://twitter.com/dsccgc"
	  ]
	}
 </script>
 <script type="application/ld+json">
	{"@context":"http:\/\/schema.org",
	"@type":"WebPage",
	"image":"https://www.dsccgc.in/images/resource/mockup1.png",
	"publisher":
	{"@type":"Organization",
	"name":"DSCCGC",
	"url":"https://www.dsccgc.in/",
	"description":"Welcome to DSCCGC !DSCCGC is a community of student developers, powered by Google Developers.
	We help students gain knowledge of various technologies for the goal of creating solutions for problems around them.\n"},
	"description":"Welcome to DSCCGC ! DSCCGC is a community of student developers, powered by Google Developers.
	 We help students gain knowledge of various technologies."}
 </script>
 <script type="application/ld+json">
	 {"@context":"http:\/\/schema.org","@type":"WebSite",
	 "url":"https://www.dsccgc.in/","potentialAction":
	 {"@type":"SearchAction",
	"target":"https://www.dsccgc.in/\/?q={search_term_string}","query-input":"required name=search_term_string"}}
</script>
<meta property="og:url" content="https://www.dsccgc.in/">
<div class="theme-layout">

	<header class="sticktop">
		<div class="menusec">
			<div class="logo"> <a href="/" title=""><img class="hidec" src="images/resource/logo.png" alt="" /><img class="showc" src="images/resource/logo.png" alt="" /></a> </div>
			<div class="open-minimal-menu resopen">
				<div id="hamburger-two">
				     <span></span>
				     <span></span>
				     <span></span>
				</div>
			</div>
			<nav id="navsc">
					<ul>
						<li><a class="smooth" href="/" title="">Home</a></li>
						<li><a class="smooth" href="#one" title="">WHY DSC</a></li>
						<li><a class="smooth" href="#two" title="">WHAT IS DSC</a></li>
						<li><a class="smooth" href="#event" title="">UPCOMING EVENT</a></li>
						<li><a class="smooth" href="#three" title="">ROADMAP</a></li>
						<li><a class="smooth" href="#four" title="">TEAM</a></li>
						<li><a class="smooth" href="#six" title="">FAQ</a></li>
						<li><a class="smooth" href="#seven" title="">CONTACT</a></li>
						<div class="apps-btns">
							<a href="https://forum.dsccgc.in/" target="_blank" class="g2" title="">Forum</a>
						</div> 
				</nav>
		</div>
	</header>

	<section>
		<div class="block remove-top">
			<div data-velocity="-.1" style="background: url(images/resource/p1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax no-parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="fsec">
							<div class="finfos wow fadeIn" data-wow-delay="0s">
								<h3>Developer Student's Club<br><strong> CGC</strong></h3>
								<p>Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.</p>
								<!-- <ul class="btns">
									<li><a class="gradient theme-btn" href="#" title="">Got a Project Idea ?</a></li>
								</ul> -->
								<div class="social">
									<a  target="_blank"  href="https://www.facebook.com/dsccgc" title=""><i class="fa fa-facebook"></i></a>
									<a  target="_blank"  href="https://twitter.com/dsccgc" title=""><i class="fa fa-twitter"></i></a>
									<a  target="_blank"  href="https://www.instagram.com/dsccgc/" title=""><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="fimg animute wow fadeIn" data-wow-delay="0.2s">
								<img src="images/resource/mockup1.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
