<!DOCTYPE html>
<html>

<!-- Mirrored from grandetest.com/theme/ico-html/index5.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Sep 2019 15:50:42 GMT -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>DSC | TEAM</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Google collaborates with university students who are passionate about growing developer communities and support them with starting student clubs on their campuses.">
	<meta name="keywords" content="">
	<meta name="author" content="Mohit Gupta">
	<meta property='og:title' content="Developer Students' Club | CGC">
	<meta property='meta-title' content="Developer Students' Club | CGC">
	<meta property="og:site_name" content="Developer Students' Club | CGC">
	<meta property="og:site_name" content="DSC CGC">
	<link rel="icon" href="images/resource/mockup1.png" type="image/gif">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/fontimp.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<meta name="google-site-verification" content="fWr8k3LfILfwu3NA7C6tl3dww8B-KFgdGlszvp8noC4" />

</head>
<body class="lines" id="scrollup">

<img src="images/p3.png" class="vx" alt="" data-enllax-ratio="-0.1" data-enllax-type="foreground" />


<div class="page-loading">
	<img src="images/resource/logo.png" alt="DSC CGC" />
</div>

<div class="theme-layout">

<header class="sticktop flat bg">
		<div class="container">
			<div class="menusec">
				<div class="logo"> <a href="index.html" title=""><img class="hidec" src="images/resource/logo.png" alt="" /><img class="showc" src="images/resource/logoc.png" alt="" /></a> </div>
				<div class="open-minimal-menu resopen">
					<div id="hamburger-two">
					     <span></span>
					     <span></span>
					     <span></span>
					</div>
				</div>
				<nav id="navsc">
					<ul>
						<li class="active"><a class="smooth" href="#five" title="">PARTNERS</a></li>
						<li><a class="smooth" href="#one" title="">WHAT IS ICO</a></li>
						<li><a class="smooth" href="#two" title="">TOKEN SALE</a></li>
						<li><a class="smooth" href="#three" title="">ROADMAP</a></li>
						<li><a class="smooth" href="#four" title="">TEAM</a></li>
						<li><a class="smooth" href="#six" title="">FAQ</a></li>
						<li><a class="smooth" href="#seven" title="">CONTACT</a></li>
						<li class="menu-item-has-children">
							<a href="#" title="">PAGES</a>
							<ul>
								<li class="menu-item-has-children">
									<a href="#" title="">Home</a>
									<ul>
										<li><a href="index.html" title="">Home v1</a></li>
										<li><a href="index2.html" title="">Home v2</a></li>
										<li><a href="index3.html" title="">Home v3</a></li>
										<li><a href="index4.html" title="">Home v4</a></li>
										<li><a href="index5.html" title="">Home v5</a></li>
									</ul>
								</li>
								<li><a href="about.html" title="">About Us</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Blogs</a>
									<ul>
										<li><a href="blog.html" title="">Blog</a></li>
										<li><a href="blog2.html" title="">Blog 2</a></li>
										<li><a href="single-post.html" title="">Single Post</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#" title="">Shop</a>
									<ul>
										<li><a href="shop.html" title="">Shop</a></li>
										<li><a href="shop-detail.html" title="">Shop Details</a></li>
										<li><a href="cart.html" title="">Cart</a></li>
										<li><a href="checkout.html" title="">CheckOut</a></li>
										<li><a href="shop-order.html" title="">Shop Order</a></li>
										<li><a href="pricing.html" title="">Pricing</a></li>
									</ul>
								</li>
								<li><a href="contact.html" title="">Contact Us</a></li>
								<li><a href="login.html" title="">Login</a></li>
								<li><a href="register.html" title="">Register</a></li>
								<li><a href="service.html" title="">Services</a></li>
								<li><a href="service-detail.html" title="">Services Details</a></li>
								<li><a href="terms.html" title="">Terms</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
