<% include header.ejs %>
<% include why-dsc.ejs %>
<% include what-dsc.ejs %>
<% include upcoming-event.ejs %>
	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="distisec">
							<h3>Distriabution Of Tokens</h3>
							<div class="chartsec">
								<div class="chart-img wow flash"></div>
								<div class="charttip one wow fadeInLeft" data-wow-delay="0s"><span>10%</span><p>Tokens Presale</p></div>
								<div class="charttip two wow fadeInLeft" data-wow-delay="0.2s"><span>15%</span><p>Bonus Fund</p></div>
								<div class="charttip three wow fadeInLeft" data-wow-delay="0.4s"><span>30%</span><p>Partners And Advisors</p></div>
								<div class="charttip flip four wow fadeInRight" data-wow-delay="0.6s"><span>40%</span><p>Core Phase Of Tokens Sale</p></div>
								<div class="charttip flip five wow fadeInRight" data-wow-delay="0.8s"><span>5%</span><p>Bounties</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="distisec">
							<h3>Use Of Proceeds</h3>
							<div class="chartproceed">
								<div class="chartproceed-img wow fadeInLeft"><img src="images/chart.png" alt="" /></div>
								<div class="chartsinfo">
									<span class="wow fadeInUp" data-wow-delay="0s"><i class="clr1"></i>25% Branding and Marketing</span>
									<span class="wow fadeInUp" data-wow-delay="0.2s"><i class="clr2"></i>20% Gift Code Invemtory</span>
									<span class="wow fadeInUp" data-wow-delay="0.4s"><i class="clr3"></i>20% Legal & Financial Overhead</span>
									<span class="wow fadeInUp" data-wow-delay="0.6s"><i class="clr4"></i>15% IT Infastructure</span>
									<span class="wow fadeInUp" data-wow-delay="0.8s"><i  class="clr5"></i>10% Bounty & Overhead</span>
									<span class="wow fadeInUp" data-wow-delay="0.10s"><i class="clr6"></i>5% Management</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<% include previous-events.ejs %>

	<section id="four">
		<div class="block teamline">
			<div data-velocity="-.2" style="background: url(images/resource/p2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax  scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid expadding noright">
				<div class="row">
					<div class="col-lg-3">
						<div class="teaminfos wow fadeIn">
							<h3>Team</h3>
							<p>None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful. </p>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="teamlist">
							<ul class="teamcarousel">
								<li>
									<div class="team wow fadeIn" data-wow-delay="0s">
										<img src="https://instagram.fixc1-2.fna.fbcdn.net/vp/f5055cec53c5b53a7342f02d5d4b143c/5E00F662/t51.2885-15/sh0.08/e35/s640x640/38081452_2161246134098253_7299506226193235968_n.jpg?_nc_ht=instagram.fixc1-2.fna.fbcdn.net&amp;_nc_cat=109%20640w" alt="" />
										<h3>Manpreet Singh Bajwa</h3>
										<span>Faculty Coordinator</span>
										<div class="social">
											<a target="_blank" href="https://www.facebook.com/mannasinghbajwa"><i class="fa fa-facebook"></i></a>
											<a target="_blank" href="https://www.linkedin.com/in/manpreet-singh-bajwa-463a8379/"><i class="fa fa-linkedin"></i></a>
											<a target="_blank" href="https://www.instagram.com/manpreet.singhbajwa/"><i class="fa fa-instagram"></i></a>

										</div>
									</div><!-- Team -->
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.2s">
										<img src="https://instagram.fixc1-3.fna.fbcdn.net/vp/706b2aa3ca7274ede68eb16aecd3eec8/5E0BEAF9/t51.2885-15/sh0.08/e35/p640x640/69553469_741046326352214_4069507573608450786_n.jpg?_nc_ht=instagram.fixc1-3.fna.fbcdn.net&amp;_nc_cat=102 640w" alt="" />
										<h3>Nand Kishore</h3>
										<span>DSC Lead</span>
										<div class="social">
											<a target="_blank" href="https://www.facebook.com/nandkk05"><i class="fa fa-facebook"></i></a>
											<a target="_blank" href="https://www.linkedin.com/in/nandkk05/"><i class="fa fa-linkedin"></i></a>
											<a target="_blank" href="https://www.instagram.com/nandkk05/"><i class="fa fa-instagram"></i></a>

										</div>
									</div><!-- Team -->
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.4s">
										<img src="https://scontent.fixc1-2.fna.fbcdn.net/v/t1.0-1/p240x240/24131120_1387306901379838_4438178736118838483_n.jpg?_nc_cat=101&_nc_oc=AQnV-duodO5lz1rnqyLMGm_4ps7aVCkBd9tYXpk-pIfgpyR9U2LXBh-T6R7IDBsosec&_nc_ht=scontent.fixc1-2.fna&oh=be246bbeee8761783dc0e312b5048241&oe=5DF6DF05" alt="" />
										<h3>Mohit Gupta</h3>
										<span>Web Developer</span>
										<div class="social">
											<a target="_blank" href="https://www.facebook.com/guptamohit.004"><i class="fa fa-facebook"></i></a>
											<a target="_blank" href="https://www.linkedin.com/in/guptamohit004/"><i class="fa fa-linkedin"></i></a>
											<a target="_blank" href="https://www.instagram.com/guptamohit.004/"><i class="fa fa-instagram"></i></a>

										</div>
									</div><!-- Team -->
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.6s">
										<img src="images/resource/team4.jpg" alt="" />
										<h3>Henry Viera</h3>
										<span>CTO & Senior Developer</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->
								</li>
								<li>
									<div class="team wow fadeIn" data-wow-delay="0.8s">
										<img src="images/resource/team5.jpg" alt="" />
										<h3>Zirenia Buile</h3>
										<span>Lead IT Engineer</span>
										<div class="social">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-linkedin"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</div>
									</div><!-- Team -->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="six">
		<div class="block">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-7">
						<div class="faqsec">
							<h3>Frequently Asked Question</h3>
							<div id="toggle-widget" class="experties">
								<h2 class="wow fadeInUp" data-wow-delay="0s">What is DSC?</h2>
								<div class="content">
									<p>LetBet is an online gambling platform that aims at providing a trustless, borderless,secure, anonymous and fast online gambling platform with zero fee, seamles slyfor all participants in a typical online gambling system powered by the LBT blockchain</p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.4s">How to create LBT wallet?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.6s">How can I participate in the ICO?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in reprehe nderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.8s">How can I start playing SportBet?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
								<h2 class="wow fadeInUp" data-wow-delay="0.10s">Is Affiliate Program available?</h2>
								<div class="content">
									<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% include footer.ejs %>