<section id="three">
    <div class="block">
        <div data-velocity="-.1" style="background: url(images/p3.png) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="roadmapsec">
                        <h3>Previous Events</h3>
                        <div class="roadnavsec">
                            <ul class="roadnav">
                                 <li><span>2019</span></li>
                             </ul>
                         </div>
                         <ul class="roadcontent">
                             <li>
                                 <div class="rmcontent">
                                     <div class="roadmap wow fadeInUp" data-wow-delay="0s"><i class="cl1"></i><h3>Augusut  2019</h3><p>Inauguration of DSC.</p></div><!-- RoadMap -->
                                     <div class="roadmap wow fadeInUp" data-wow-delay="0.2s"><i class="cl2"></i><h3>Septmber  2019</h3> <p>An Intensive Workshop on CLOUD.</p> </div><!-- RoadMap -->
                                     <div class="roadmap wow fadeInUp" data-wow-delay="0.4s"><i class="cl3"></i><h3>October 2019</h3> <p>TBD</p> </div><!-- RoadMap -->
                                     <div class="roadmap wow fadeInUp" data-wow-delay="0.6s"><i class="cl4"></i><h3>November 2019</h3> <p>TBD</p> </div><!-- RoadMap -->
                                     <div class="roadmap wow fadeInUp" data-wow-delay="0.8s"><i class="cl5"></i><h3>December 2019</h3> <p>TBD</p> </div><!-- RoadMap -->
                                 </div>
                             </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>