
	<section id="four">
            <div class="block teamline">
                <div data-velocity="-.2" style="background: url(images/resource/p2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax  scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="container fluid expadding noright">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="teaminfos wow fadeIn">
                                <h3>Team</h3>
                                <p>None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful. </p>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="teamlist">
                                <ul class="teamcarousel">
                                        <li>
                                                <div class="team wow fadeIn" data-wow-delay="0.8s">
                                                    <img src="images/resource/Anujkumar.jpg" alt="" />
                                                    <h3>Dr. Anuj Kumar Gupta</h3>
                                                    <span>Faculty Mentor</span>
                                                    <div class="social">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </div>
                                                </div><!-- Team -->
                                            </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0s">
                                            <img src="https://instagram.fixc1-2.fna.fbcdn.net/vp/f5055cec53c5b53a7342f02d5d4b143c/5E00F662/t51.2885-15/sh0.08/e35/s640x640/38081452_2161246134098253_7299506226193235968_n.jpg?_nc_ht=instagram.fixc1-2.fna.fbcdn.net&amp;_nc_cat=109%20640w" alt="" />
                                            <h3>Manpreet Singh Bajwa</h3>
                                            <span>Faculty Coordinator</span>
                                            <div class="social">
                                                <a target="_blank" href="https://www.facebook.com/mannasinghbajwa"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="https://www.linkedin.com/in/manpreet-singh-bajwa-463a8379/"><i class="fa fa-linkedin"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/manpreet.singhbajwa/"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0.2s">
                                            <img src="images/resource/nand.jpg"" alt="" />
                                            <h3>Nand Kishore</h3>
                                            <span>DSC Lead</span>
                                            <div class="social">
                                                <a target="_blank" href="https://www.facebook.com/nandkk05"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="https://www.linkedin.com/in/nandkk05/"><i class="fa fa-linkedin"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/nandkk05/"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                            <div class="team wow fadeIn" data-wow-delay="0.6s">
                                                <img src="https://instagram.fixc1-2.fna.fbcdn.net/vp/5ce9f1e8934a49cb5886ec8bfd9424a6/5E395FD7/t51.2885-15/sh0.08/e35/s640x640/65491742_871704919858675_9149721269735989974_n.jpg?_nc_ht=instagram.fixc1-2.fna.fbcdn.net&amp;_nc_cat=107 640w" alt="" />
                                                <h3>Kartik Aggarwal</h3>
                                                <span>Event Manager</span>
                                                <div class="social">
                                                    <a href="https://www.facebook.com/kartik.aggarwal.9883739"><i class="fa fa-facebook"></i></a>
                                                    <a href="https://www.linkedin.com/in/kartik-aggarwal-074711173/"><i class="fa fa-linkedin"></i></a>
                                                    <a href="https://www.instagram.com/kartikaggarwal_018/"><i class="fa fa-twitter"></i></a>
                                                </div>
                                            </div><!-- Team -->
                                        </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0.4s">
                                            <img src="https://scontent.fixc1-2.fna.fbcdn.net/v/t1.0-1/p240x240/24131120_1387306901379838_4438178736118838483_n.jpg?_nc_cat=101&_nc_oc=AQnV-duodO5lz1rnqyLMGm_4ps7aVCkBd9tYXpk-pIfgpyR9U2LXBh-T6R7IDBsosec&_nc_ht=scontent.fixc1-2.fna&oh=be246bbeee8761783dc0e312b5048241&oe=5DF6DF05" alt="" />
                                            <h3>Mohit Gupta</h3>
                                            <span>Web Developer</span>
                                            <div class="social">
                                                <a target="_blank" href="https://www.facebook.com/guptamohit.004"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="https://www.linkedin.com/in/guptamohit004/"><i class="fa fa-linkedin"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/guptamohit.004/"><i class="fa fa-instagram"></i></a>

                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                            <div class="blogthumb"><a href="#" title=""><img src="https://www.sandler.com/sites/default/files/styles/image-mobile-xs/public/images/blog/Dollarphotoclub_76404227-copy.jpg?itok=nY2AftcF" alt="" /></a></div>
                                            <a href="/dsc-team" title="" class="blogrmore">Explore Our Full Team</a>
                                        </div>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
