
	<section id="four">
            <div class="block teamline">
                <div data-velocity="-.2" style="background: url(images/resource/p2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax  scrolly-invisible"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="container fluid expadding noright">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="teaminfos wow fadeIn">
                                <h3>Team</h3>
                                <p>None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful. </p>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="teamlist">
                                <ul class="teamcarousel">
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0s">
                                            <img src="images/resource/team1.jpg" alt="Manpreet Singh Bajwa" />
                                            <h3>Manpreet Singh Bajwa</h3>
                                            <span>Faculty Coordinator</span>
                                            <div class="social">
                                                <a target="_blank" href="https://www.facebook.com/mannasinghbajwa"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="https://www.linkedin.com/in/manpreet-singh-bajwa-463a8379/"><i class="fa fa-linkedin"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/manpreet.singhbajwa/"><i class="fa fa-instagram"></i></a>

                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0.2s">
                                            <img src="https://instagram.fixc1-3.fna.fbcdn.net/vp/706b2aa3ca7274ede68eb16aecd3eec8/5E0BEAF9/t51.2885-15/sh0.08/e35/p640x640/69553469_741046326352214_4069507573608450786_n.jpg?_nc_ht=instagram.fixc1-3.fna.fbcdn.net&amp;_nc_cat=102 640w" alt="Nand Kishor" />
                                            <h3>Nand Kishor</h3>
                                            <span>DSC Lead</span>
                                            <div class="social">
                                                <a target="_blank" href="https://www.facebook.com/nandkk05"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="https://www.linkedin.com/in/nandkk05/"><i class="fa fa-linkedin"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/nandkk05/"><i class="fa fa-instagram"></i></a>

                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0.4s">
                                            <img src="images/resource/team3.jpg" alt="Mohit Gupta" />
                                            <h3>Mohit Gupta</h3>
                                            <span>Web Developer</span>
                                            <div class="social">
                                                <a target="_blank" href="https://www.facebook.com/guptamohit.004"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="https://www.linkedin.com/in/guptamohit004/"><i class="fa fa-linkedin"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/guptamohit.004/"><i class="fa fa-instagram"></i></a>

                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0.6s">
                                            <img src="images/resource/team4.jpg" alt="" />
                                            <h3>Kartik Aggarwal</h3>
                                            <span></span>
                                            <div class="social">
                                                <a href="https://www.facebook.com/kartik.aggarwal.9883739"><i class="fa fa-facebook"></i></a>
                                                <a href="https://www.linkedin.com/in/kartik-aggarwal-074711173/"><i class="fa fa-linkedin"></i></a>
                                                <a href="https://www.instagram.com/kartikaggarwal_018/"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                    <li>
                                        <div class="team wow fadeIn" data-wow-delay="0.8s">
                                            <img src="images/resource/team5.jpg" alt="" />
                                            <h3>Zirenia Buile</h3>
                                            <span>Lead IT Engineer</span>
                                            <div class="social">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div><!-- Team -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
