<section id="one">
    <div class="block" id="scrolldown">
        <div class="container fluid expadding">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-info wow fadeIn" data-wow-delay="0s">
                        <h3>Why DSC ?</h3>
                        <p>Developer Student Club is an Indented Platform by Google to try out new ideas in Collaboration.
                        So this DSC was organized in CGC with the aim of enhancement of overall skills of the students.
                         </p>
                        <p>This Club provides the platform to the students for many technical related problems and assist them
                           to build Web Technologies, Machine Learning, Mobile App Development and Cloud skills. It will provide a Golden Opportunity to all the members of DSC to come up with projects
                            on daily basis.
                        </p>
                        <p>
                         Moreover it will provide exposure to all the college students by attending different fest organized by Google DSC.    
                        </p>    
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sersec">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0s">
                                    <img src="images/icon1.png" alt="" />
                                    <p>Collaborate</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0.2s">
                                    <img src="images/icon2.png" alt="" />
                                    <p>Team Work</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0.4s">
                                    <img src="images/icon3.png" alt="" />
                                    <p>Learning</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0.6s">
                                    <img src="images/icon4.png" alt="" />
                                    <p>Connectivity</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
