<section id="one">
    <div class="block" id="scrolldown">
        <div class="container fluid expadding">
            <div class="row">
                <div class="col-lg-6">
                    <div class="why-info wow fadeIn" data-wow-delay="0s">
                        <h3>Why DSC ?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <a class="fancybtn" href="https://youtu.be/SSo_EIwHSd4" title="">
                            <span class="pulse"><img src="images/icon5.png" alt="" /></span>
                            <strong>Watch Video</strong><br />
                            <i>What and How it work</i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sersec">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0s">
                                    <img src="images/icon1.png" alt="" />
                                    <p>The revolutionized Gaming Platform</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0.2s">
                                    <img src="images/icon2.png" alt="" />
                                    <p>Open Source Audit-able transaction</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0.4s">
                                    <img src="images/icon3.png" alt="" />
                                    <p>1 Trillion $ Market 3% Market Share Target</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="ser wow fadeIn" data-wow-delay="0.6s">
                                    <img src="images/icon4.png" alt="" />
                                    <p>T2 Million Users Target after ICO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
